doctype html
html
  head
    meta(charset="utf-8")
    title 방탄소년단 앨범공동구매 확인페이지
    link(rel="stylesheet" href="style2.css")
    link(rel="stylesheet" href="webfont.css")
  body
    #container
      .title 1차 컴백앨범 공구 확인 페이지
      .notice
      form
        .main
          if check == false
            p.info 찾을 수 없습니다.
          else
            p.info 입금자명 <br/> #{check.name1}
            p.info 이름 <br/> #{check.name2}
            p.info 전화번호 <br/> #{check.phone}
            p.info 주소 <br/> #{check.address}
            br
            p.info 이메일 <br/> #{check.email}
            p.info 입금액 <br/> #{check.price}원
            p.info 셋트개수 <br/> #{check.count}개
        .link
          a(href="http://antzip.net/index.php?mid=notice&document_srl=11823" target="_blank") antzip
        .previous
          p
            input(type='button' class="previous_btn" value="이전" onclick="location.href='/';")
